<!-- books/templates/books_list.html -->
{% extends "base.html" %}

{% block content %}
<h2>All Books</h2>
<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>ISBN</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.published_date }}</td>
            <td>{{ book.isbn }}</td>
            <td>${{ book.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
